window {
margin: 3px;
background-color: #282a36;
opacity: 1.0;
}

#outer-box {
margin: 3px;
border: 2px solid #44475a;
background-color: #282a36;
}

#input {
margin: 3px;
border: 2px solid #6272a4;
background-color: #44475a;
color: #f8f8f2;
font-size: 14px;
}

#inner-box {
margin: 3px;
background-color: #282a36;
}

#scroll {
margin: 3px;
border: 2px solid #6272a4;
background-color: #282a36;
font-size: 14px;
color: #f8f8f2;
}

#scroll label {
margin: 2px 0px;
}

#entry {
margin: 3px;
background-color: #282a36;
}
#entry:selected {
background-color: #44475a;
border: 2px solid #314e9e;
}

#img {
margin: 3px;
}
#img:selected {
background-color: #44475a;
}

#text {
margin: 3px;
border: none;
color: #f8f8f2;
}

#text:selected {
background-color: #44475a;
}
